$icomoon-font-family: "fridge" !default;
$icomoon-font-path: "#{$publicPath}/fonts" !default;

$icon-pencil: "\e900";
$icon-upload: "\e9c8";
$icon-checkmark: "\ea10";

@font-face {
	font-family: "#{$icomoon-font-family}";
	src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?qar2c8");
	src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?qar2c8#iefix")
			format("embedded-opentype"),
		url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?qar2c8")
			format("truetype"),
		url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?qar2c8")
			format("woff"),
		url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?qar2c8##{$icomoon-font-family}")
			format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "#{$icomoon-font-family}" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil {
	&:before {
		content: $icon-pencil;
	}
}
.icon-upload {
	&:before {
		content: $icon-upload;
	}
}
.icon-checkmark {
	&:before {
		content: $icon-checkmark;
	}
}
