$blue: #1a89c6;
$red: #ff3838;
$family-primary: Nunito;
$notification-padding: 0.65rem 1.2rem;
$size-7: 0.8rem;
$tablet: 560px;

$publicPath: "/nevera/public";

// Se agregar esta clase, ya que bulma tiene un tablet por defecto, el cual en ocasiones presenta conflicto al usar este un tamano 560px de ancho.
$tablet_custom: 768px;
$mobile: 480px;

@import "../../node_modules/bulma/bulma.sass";
@import "./pages/auth/pack.auth";
@import "./pages/sells/pack.sells";
@import "./pages/product/pack.product";

@import "./components/pack.components";

@import "./core/icons.scss";

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background: rgb(238, 238, 238);
	min-height: 100vh;
}
.has-dropdown:hover .navbar-dropdown {
  display: block !important;
}
#login_section,
#register_section {
	min-height: 100vh;
	display: flex;
	align-items: center;
}
.box_mini,
.login_abs_wrap,
.register_abs_wrap {
	width: 100%;
	max-width: 750px;
	margin: auto;
}
.font-2 {
	font-family: Rubik !important;
}
.hidden {
	display: none !important;
}
.show {
	display: block !important;
}
.w-100 {
	width: 100% !important;
}
.text-lined {
	text-decoration: line-through;
}
.m-auto {
	margin: auto;
}
.media-content {
	overflow-y: hidden;
}

.custom_checkbox {
	display: inline-block;
	width: 18px;
	height: 18px;
	position: relative;
	background: #e0e0e0;
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	input {
		cursor: pointer;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 10;
		&:checked + i {
			opacity: 1;
		}
	}
	i {
		color: $blue;
		position: absolute;
		left: -50%;
		width: 100%;
		font-size: 14px;
		transform: translateX(58%);
		height: 100%;
		opacity: 0;
		top: 8%;
	}
}

.is-hiddable {
	transition: opacity 0.5s;
	&.hide {
		opacity: 0;
	}
	&.remove {
		display: none;
	}
}
.box_info {
	border-radius: 0px;
	border: 1px solid #dbdbdb;
	box-shadow: none;
	padding: 8px;
	background-color: white;
}
