// $urlPath: '/nevera/public/';
// $urlPath: '/';
.login_abs_wrap {
	width: 100%;
	max-width: 750px;
	margin: auto;
}
.login_image {
	background: url("#{$publicPath}/images/imgfondo.jpg");
	height: 100%;
	background-size: cover;
	display: flex;
	align-items: center;
	min-height: 180px;
	justify-content: center;
}
.login_box {
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
	color: #4a4a4a;
	display: block;
}
.login_form_wrap {
	padding: 1.25rem;
}
.login_logo {
	height: 130px;
	text-align: center;
	margin-bottom: 11px;
	img {
		height: 100%;
	}
}
.login_actions {
	margin-top: 11px;
	display: flex;
	justify-content: space-between;
}

.login_columns {
	display: flex;
	.login_left,
	.login_right {
		width: 50%;
	}
}

@media (max-width: $tablet_custom) {
	.login_columns {
		flex-direction: column-reverse;
		.login_left,
		.login_right {
			width: 100%;
		}
	}
}
@media (max-width: $tablet) {
	.login_actions {
		flex-direction: column;
		& > a {
			margin-bottom: 6px;
		}
	}
}
