.sell_item_wrap {
	position: relative;
}
.sell_tag {
	position: absolute;
	z-index: 10;
	right: 4px;
	top: 4px;
}
.sell_figure_item {
	margin: auto !important;
}
.sell_title_item {
	margin-bottom: 5px !important;
}
.sell_media_item {
	margin-bottom: 10px !important;
}
.sell_card_content_item {
	padding: 1rem !important;
}
