@font-face {
  font-family: 'fridge';
  src:  url('fonts/fridge.eot?f4uytl');
  src:  url('fonts/fridge.eot?f4uytl#iefix') format('embedded-opentype'),
    url('fonts/fridge.ttf?f4uytl') format('truetype'),
    url('fonts/fridge.woff?f4uytl') format('woff'),
    url('fonts/fridge.svg?f4uytl#fridge') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fridge' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e900";
}
.icon-upload:before {
  content: "\e9c8";
}
