.details_abs_wrap {
	margin-bottom: 2rem;
}
.sell_container_clms {
	overflow-x: auto;
	display: flex;
}
.detail_total_box {
	background: $blue !important;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0.8rem !important;
	justify-content: center;
}
.sell_user_data {
	padding: 0 0.75rem;
}
.close_filter_wrap {
	margin-top: -35px;
	display: none;
	margin-bottom: 17px;
	&.show{
		display: block;
	}
}
